.song-details {
  position: sticky;
  top: 90px;
  background-color: #ffffff; /* Fondo blanco */
  padding: 1.5rem; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
  border: 1px solid #ddd; /* Borde sutil */
  font-family: Arial, sans-serif; /* Fuente limpia */
}

.song-details h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333; /* Color del texto */
  text-align: center; /* Centrar el título */
}

.song-details p {
  margin: 0.5rem 0; /* Espaciado entre párrafos */
  font-size: 1rem;
  color: #555; /* Color del texto */
}

.song-details p strong {
  color: #333; /* Color más oscuro para los títulos */
}

.song-details a {
  color: #646cff; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
  font-weight: bold;
}

.song-details a:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor */
}

.song-details .no-details {
  text-align: center;
  font-size: 1rem;
  color: #888; /* Color gris para mensajes vacíos */
}

.no-song-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  position: sticky;
  top: 90px;
  background-color: #f9f9f9; /* Fondo claro */
  border: 1px dashed #ccc; /* Borde punteado */
  border-radius: 8px; /* Bordes redondeados */
  padding: 1.5rem; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
  color: #888; /* Color gris suave */
  font-size: 1rem; /* Tamaño de fuente */
  font-style: italic; /* Estilo cursiva */
}

.no-song-selected p {
  margin: 0;
}